---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="sm:mt-20 mt-22 flex items-center justify-center h-fit sm:py-24">
        <div
            class="sm:border border-gray-300 md:m-2 rounded-lg py-12 px-8 bg-white lg:w-2/5 sm:w-3/5 sm:h-2/3 w-full"
        >
            <h2 class="font-bold text-3xl text-center mb-8">
                Inicio de sesión
            </h2>
            <form>
                <div class="mb-6">
                    <label
                        for="cedula"
                        class="block mb-2 text-sm font-medium text-gray-900"
                        >Número de Cédula</label
                    >
                    <input
                        type="text"
                        id="cedula"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="V12345678"
                        required
                    />
                </div>
                <div class="mb-6">
                    <label
                        for="password"
                        class="block mb-2 text-sm font-medium text-gray-900"
                        >Contraseña</label
                    >
                    <input
                        type="password"
                        id="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    />
                </div>
                <button
                    type="submit"
                    class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full py-2.5 text-center"
                    >Entrar</button
                >
            </form>
            <div class="flex flex-col justify-center items-center mt-4">
                <p class="text-center mt-4 text-sm">
                    ¿Olvidaste tu contraseña?
                </p>
                <a href="/" class="text-sm font-light underline text-gray-600"
                    >Presiona aquí</a
                >
            </div>
        </div>
    </div>
</Layout>
