---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import Error from "../assets/face-id-error.svg";
---

<Layout>
    <section
        class="h-full w-full p-6 sm:p-10 flex flex-col justify-center items-center text-center"
    >
        <h2 class="text-5xl font-extrabold">404</h2>
        <h3 class="my-4 text-lg">
            Lo sentimos, esta página no está disponible.
        </h3>
        <Error class="mt-2 w-24 h-24" />
    </section>
</Layout>
