---
import Layout from "../layouts/Layout.astro";
import FormFetch from "../components/FormFetch.svelte";
---

<Layout>
    <section
        class="mt-20 sm:mt-28 h-4/5 w-full sm:p-6 flex flex-col justify-center items-center relative"
    >
        <FormFetch client:load />
    </section>
</Layout>
