<section
    class="mx-auto h-1/3 w-full sm:w-[99%] bg-blue-700 text-center content-center text-white md:border border-gray-300 rounded-lg p-2"
>
    <h3 class="capitalize text-4xl font-semibold">
        Todo lo que necesitas en un solo lugar
    </h3>
</section>
