<section class="h-2/3 w-full flex justify-end bg-[var(--bg-main-dark-blue)]">
    <div class="h-full w-1/3 relative">
        <img
            src="/bg-julia-m-cameron.jpg"
            alt="julia-m-cameron"
            class="absolute top-0 h-full w-full"
        />
    </div>
</section>
