<section
    class="h-2/3 w-full flex bg-[var(--bg-main-dark-blue)] bg-[url(/family.png)] bg-cover bg-center mt-28"
>
    <div class="text-white my-auto w-1/2 p-8">
        <h1 class="text-5xl font-bold mb-2">
            La Velocidad y Estabilidad Que Mereces.
        </h1>
        <h3 class="text-xl">Vive la Mejor Fibra Óbtica con Kingdom Network.</h3>
    </div>
</section>
