---
import Card from "../components/Card.astro";
---

<section
    class="min-h-screen h-auto flex flex-col justify-around items-center md:border border-gray-300 md:m-2 rounded-lg p-2"
>
    <h2
        class="text-xl sm:text-4xl text-center font-semibold sm:w-2/3 py-10 sm:py-0"
    >
        Tu conexión ideal te espera: explora nuestros planes hechos a tu medida.
    </h2>
    <div
        class="w-full min-h-fit h-auto flex sm:flex-row flex-col items-center justify-evenly gap-4"
    >
        <Card
            planName="Básico"
            price={15}
            Clss="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8"
        />
        <Card
            planName="Estándar | Favorito"
            price={25}
            Clss="w-full max-w-sm p-4 bg-white border-4 border-[var(--bg-main-green)] rounded-lg shadow-sm sm:p-8"
        />
        <Card
            planName="Premium"
            price={35}
            Clss="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8"
        />
    </div>
</section>
