<section class="min-h-screen h-auto flex flex-col justify-around items-center">
    <h2
        class="text-xl sm:text-4xl text-center font-semibold sm:w-2/3 py-10 sm:py-0"
    >
        Tu conexión a máxima potencia: Descubre los equipos ideales en nuestra
        Tienda.
    </h2>
</section>
