---
export const prerender = false;
import Card from "../components/CardShop.astro";
import { getCollection } from "astro:content";

const strapiProductos = await getCollection("strapiProductosLoader");
---

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul
        class="flex flex-wrap -mb-px text-sm font-medium text-center"
        id="default-tab"
        data-tabs-toggle="#default-tab-content"
        role="tablist"
    >
        <li class="me-2" role="presentation">
            <button
                class="inline-block p-4 border-b-2 rounded-t-lg"
                id="todo-tab"
                data-tabs-target="#todo"
                type="button"
                role="tab"
                aria-controls="todo"
                aria-selected="false">Todo</button
            >
        </li>
        <li class="me-2" role="presentation">
            <button
                class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                id="routers-tab"
                data-tabs-target="#routers"
                type="button"
                role="tab"
                aria-controls="routers"
                aria-selected="false">Routers</button
            >
        </li>
        <li class="me-2" role="presentation">
            <button
                class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                id="respaldos-tab"
                data-tabs-target="#respaldos"
                type="button"
                role="tab"
                aria-controls="respaldos"
                aria-selected="false">Respaldos</button
            >
        </li>
        <li role="presentation">
            <button
                class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                id="instalaciones-tab"
                data-tabs-target="#instalaciones"
                type="button"
                role="tab"
                aria-controls="instalaciones"
                aria-selected="false">Instalaciones</button
            >
        </li>
    </ul>
</div>
<div id="default-tab-content">
    <div
        class="hidden p-4 bg-gray-50 item active"
        id="todo"
        role="tabpanel"
        aria-labelledby="todo-tab"
    >
        <div
            class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-12 sm:p-12"
        >
            {strapiProductos.map((product) => <Card product={product.data} />)}
        </div>
    </div>
    <div
        class="hidden p-4 bg-gray-50 item"
        id="routers"
        role="tabpanel"
        aria-labelledby="routers-tab"
    >
        <div
            class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-12 sm:p-12"
        >
            {
                strapiProductos.map((product) => {
                    if (product.data.category.name === "routers")
                        return <Card product={product.data} />;
                })
            }
        </div>
    </div>
    <div
        class="hidden p-4 bg-gray-50 item"
        id="respaldos"
        role="tabpanel"
        aria-labelledby="respaldos-tab"
    >
        <div
            class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-12 sm:p-12"
        >
            {
                strapiProductos.map((product) => {
                    if (product.data.category.name === "respaldos")
                        return <Card product={product.data} />;
                })
            }
        </div>
    </div>
    <div
        class="hidden p-4 bg-gray-50 item"
        id="instalaciones"
        role="tabpanel"
        aria-labelledby="instalaciones-tab"
    >
        <div
            class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-12 sm:p-12"
        >
            {
                strapiProductos.map((product) => {
                    if (product.data.category.name === "instalaciones")
                        return <Card product={product.data} />;
                })
            }
        </div>
    </div>
</div>
