<section
    class="bg-blue-700 mx-auto h-1/8 w-full sm:w-[99%] text-center content-center text-white md:border border-gray-300 sm:rounded-lg"
>
    <h3 class="capitalize text-xl sm:text-4xl font-semibold">
        Tu solución completa en un solo sitio.
    </h3>
</section>
