---
import Card from "../components/CardPlans.astro";
import { plans } from "../utils/constants/plans";
---

<section
    class="min-h-screen h-auto flex flex-col justify-around items-center md:border border-gray-300 md:m-2 rounded-lg py-12 bg-white"
>
    <h2
        class="text-xl sm:text-4xl text-center font-semibold sm:w-2/3 py-6 sm:py-0 px-8"
    >
        Tu conexión ideal te espera: explora nuestros planes hechos a tu medida.
    </h2>
    <p class="sm:w-2/3 text-center text-base sm:text-xl pb-8 px-8">
        Contamos con planes que se ajustan a tus necesidades.
    </p>
    <div
        class="w-full min-h-fit h-auto flex flex-row items-center justify-evenly gap-8 overflow-x-auto overscroll-contain pb-4 pl-4 pr-4"
    >
        <Card plan={plans[0]} />
        <Card plan={plans[1]} />
        <Card plan={plans[2]} />
    </div>
    <p class="mt-2 text-sm">Sujeto a términos y condiciones.</p>
</section>
